{% extends "registration/layout.html" %}

{% block body %}

{% if validlink %}
    <P>Ingrese y confirme su nuevo password.</P>
    <form action="" method="POST">
        <div styles="display:none">
        <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken" >
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_newpassword1">Nuevo Password</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_newpassword2">Confirmar Password</label>
                </td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Cambiar mi Password" /></td>
            </tr>
        </table>
    </form>
{% else %}
    <h1>Error al restablecer password</h1>
    <p>El enlace para restablecer la contraseña no es valido, posiblemente porque ya se ha utlizado. Solicite un nuevo restablecimiento de contraseña.</p>
{% endif %}

<p><a href="{% url 'login' %}">Volver</a></p>
{% endblock %}