{% extends "registration/layout.html" %}

{% block body %}

<div class="container d-flex align-items-center justify-content-center flex-column position-absolute top-50 start-50 translate-middle">    
    <div class="col-10 d-flex flex-column d-inline-flex justify-content-center align-items-center">
<h1>Formulario para cambiar su contraseña</h1>
<form class="d-flex justify-content-center align-items-center flex-column py-5" action="" method="POST">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.erros}}
    {% endif %}
    <h3 class="py-3">Ingrese el email con el que se registro.</h3>
        <p class="py-3">{{ form.email }}</p>
    <input type="submit" class="btn btn-secondary" value="Reset Password"/>
</form>
<p><a href="{% url 'login' %}">Volver al Login</a></p>
    </div>
</div>
{% endblock %}