{% extends "miSitio/layout.html" %}

{% block content %}



{% if not user.is_authenticated %}
<div class="container d-flex align-items-center justify-content-center flex-column mt-4 mb-5">    
    <div class="col-10 d-flex flex-column d-inline-flex justify-content-center align-items-center">
    <h2>Formulario de Registro</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% for campo in form %}
        <div class="py-2" >{{ campo.label_tag}}<br>
            {{ campo }}
            {% if campo.help_text %} 
            <small  style="color:grey">{{ campo.help_text }}</small>
            {% endif %}
            {% for error in campo.errors %}
            <p style="color:red">{{ error }}</p>
            {% endfor %}
            </div>
        {% endfor %}
        <button class="btn btn-secondary my-3" type="submit">Confirmar Registro</button>
    </form>
    <p><a href="{% url 'login' %}">Volver</a></p>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center flex-column position-absolute top-50 start-50 translate-middle">
            <h1 class="py-3">Ya se encuentra registrado.</h1>
            <p><a href="{% url 'miSitio:index' %}">Volver a Home</a></p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}