/* Colour palette */

/*
[orange,"#ff7f11"
yellow,"#f0db4f",
grey"#c0d6df",
black"#323330"]*/


#header {
background-color:#323330;
color: aliceblue
}

body {
background-color:#f0db4f;
}

.cuadro_producto{
    background-color:#3f3f3e;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #f0db4f;
    margin-top: 2vw;
}

.cuadro_producto > * {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.etiqueta_home_lista{
    list-style: none;
    text-decoration: none;
}

#menu {
    background-color:#3f3f3e;
    color: aliceblue;
}

#footer {
    background-color:#3f3f3e;
    color: aliceblue;
    height: 6vh;

}

.p_footer{
    text-align: center;
    line-height: center;
}
