{% extends 'misitio/layout.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <h1>ACERCA DE...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aspernatur tempore assumenda molestias vel dolores, molestiae, temporibus id esse officia voluptate. Atque velit repellendus cupiditate! Distinctio, corrupti veniam? Similique, ab?</div>
        <div class="col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis incidunt minus totam quasi molestias explicabo, hic corporis adipisci, quam iusto excepturi, harum laboriosam recusandae nisi accusantium sequi. Debitis, dolore quos!</div>
    </div>

</div>
{% endblock %}