{% extends 'misitio/layout.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <h1>CARRITO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>NOMBRE DE USUARIO</h2>
            <ol>
                {% for elemento in lista.all %}
                <li>{{elemento}}</li>
                <button class="btn">X</button>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn">VACIAR CARRITO</button>
            <button class="btn">FINALIZAR COMPRA</button>
        </div>
    </div>
</div>
{% endblock %}