{% extends 'misitio/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>CARRITO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>NOMBRE DE USUARIO</h2>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <button class="btn">X</button>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                <button class="btn">X</button>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                <button class="btn">X</button>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                <button class="btn">X</button>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn">VACIAR CARRITO</button>
            <button class="btn">FINALIZAR COMPRA</button>
        </div>
    </div>
</div>
{% endblock %}