{% extends 'misitio/layout.html' %}
{% load templatetags %}

{% block content %}
{% if request.user|has_group:"Moderadores" %}
<form enctype="multipart/form-data" action="{% url 'miSitio:editar_producto' un_producto.id %}" method="post">
{% csrf_token %}
<div class="container mb-5">
    <div class="row py-4">
        <div class="col-12 py-3 my-4">
            <h1 class="my-3">Titulo del producto:
                <span class="py-3 h3">{{formset.titulo}}</span>
                </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 my-4 py-3 gx-3 h5">
            {{formset.imagen}}
        </div>
        <div class="col-12 col-md-6">
            <p class="h5">Categoria:&ensp;&ensp;{{formset.categoria}}</p>
            <P class="h5">Descripcion:&ensp;{{formset.descripcion}}</P>
            <div class="col-6 my-4">
                <span class="h5">Precio:{{formset.precio}}</span>
            </div>
            <div class="col-6 my-4">
                <input class="btn btn-secondary" type="submit" value="EDITAR" method="post" href="{% url 'miSitio:producto' un_producto.id %}"">
            </div>
        </div>
    </div>
</div>
</form>

{% else %}

<p>No tiene permiso de ver este contenido</p>

{% endif %}

{% endblock %}