{% extends 'misitio/layout.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center align-items-center my-3">
        {% for producto in productos|slice:":3" %}
        <div class="cuadro_producto col-3 vw-10 vh-10 d-flex flex-column justify-content-center align-items-center">
            {{producto.titulo}}
            <img class="img-fluid w-50" src="{{producto.imagen.url}}" alt="imagen">
            <a class="btn btn-secondary"href="{% url 'miSitio:producto' producto.id %}">Ver Detalle</a>
        </div>
        {%endfor %}
    </div>
    <div class="row justify-content-center align-items-center d-flex  my-3">
        <div class="col-12 d-flex justify-content-center align-items-center">MAS PRODUCTOS</div>
        {% for producto in productos|slice:"3:10" %}
    </div>
    <div class="row justify-content-start align-items-center d-flex  my-3">
        <div class="col-12 vw-10 vh-10 d-flex flex-row"> 
        <ul>
            <li><a class="etiqueta_home_lista"href="{% url 'miSitio:producto' producto.id %}">{{producto.titulo}}: {{producto.descripcion}}.</a></li>
        </ul>
    </div>
        {%endfor %}
    </div>
</div>
{% endblock %}