{% extends 'misitio/layout.html' %}
{% load templatetags %}

{% block content %}
{% if request.user|has_group:"Moderadores" %}
<form action="{% url 'miSitio:producto' %}" method="post">
{% csrf_token %}
<div class="container">
    <div class="row py-4">
        <div class="col-12 py-3">
            <h1>{{titulo}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{imagen}}
        </div>
        <div class="col-6">
            <h2>{{categoria}}</h2>
            <P>{{descripcion}}</P>
            <div class="col-6">
                <span>Precio:{{precio}}</span>
            </div>
            <div class="col-6">
                <input class="btn btn-secondary" type="submit" value="EDITAR">
            </div>
        </div>
    </div>
</div>
</form>
{% elif request.user|has_group:"Usuarios" %}
<div class="container">
    <div class="row py-4">
        <div class="col-12 py-3">
            <h1>TITULO DEL PRODUCTO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="" alt="imagen">
        </div>
        <div class="col-6">
            <h2>CATEGORIA</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestiae assumenda, laboriosam facere ipsa obcaecati aut accusantium quo quae rerum eos nemo totam nihil error iste sequi quia! Facilis, cumque.</P>
            <div class="col-6">
                <span>Precio: XXX</span>
            </div>
            <div class="col-6">
                <input class="btn btn-secondary" type="submit" value="CREAR">
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}